/* cicd-header.css */

.cdciHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: red;
  color: white;
  padding: 30px;
  margin: 0; 
}

.cdciHeader img {
  max-width: 150px; 
  height: auto;
  margin-right: 20px; 
}
